h1{
    text-align:center;
}

div{
    margin-top: 1em;
}

.error {
    color: crimson;
}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align:center;
}


.formbutton{
    margin-left: 1em;
    font-weight: bold;
    text-align:center;
}

.movie-details {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align:center;
}

.rmvbutton{
    margin-left: 1em;
    font-weight: bold;
    padding: 0em .75em;
    text-align:center;
}